.env

node_modules/
dist/
build/

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go
/bin/
/dist/
/tmp/
/vendor/

# Environment
.env
.env.local

# IDE
.idea/
.vscode/
*.iml


# Logs
logs/
*.log
*.log.*

# OS
.DS_Store
Thumbs.db

.doc
.docx

/docs/texto.txt
docs/texto.txt
